// bookmark styles
.header-bookmark {
  position: relative;
}
.header-bookmark_drop {
  z-index: 3;
  position: absolute;
  top: 80%;
  width: 300px;
  &::before {
    content: "";
    position: absolute;
    border-width: 10px;
    top: -10px;
    left: 50%;
    border-color: transparent transparent #12171b transparent;
  }
}
.bookmark_drop-head {
  border: 1px solid #234;
  padding: 6px 12px;
}
.bookmark_drop-container {
  padding: 8px 12px;

  .bookmark_drop-list_film {
    border: 1px solid rgb(70, 64, 64);

    li {
      border-bottom: 1px solid rgb(70, 64, 64);
    }
    a {
      padding: 8px;
    }
  }
}
.bookmark-film {
  .bookmark-film_avata {
    width: 50px;
    height: 65px;
    object-fit: cover;
    margin-right: 12px;
  }
}
//end  bookmark styles

@media screen and (max-width: 1024px) {
  .header-bookmark_drop {
    top: 88%;
    width: 100%;
    right: 0;
  }
}
