.title_special-box {
  border-bottom: 2px solid rgb(80, 63, 63);
}
.aside-popular {
  .aside-items_film {
    display: flex;
    gap: 6px;
    clear: both;
    padding-right: 10px;
    line-height: 1.2;
    list-style-type: none;
    overflow: hidden;
    background: #0b0f15;
    background-size: 200% 100%;
    background-image: linear-gradient(
      to right,
      #151d25 0%,
      #11151500 51%,
      #060808 50%
    );
    transition: 0.8s ease;
    position: relative;
    &:hover {
      background-position: right center;
      .aside-items-avata {
        transform: scale(1.2);
      }
      .items_film-des_title {
        color: #ff971b;
      }
    }
    .aside-items-avata_box {
      width: 75px;
      height: 90px;
      overflow: hidden;
      .aside-items-avata {
        width: 100%;
        height: 100%;
        transition: all 0.8s ease;
      }
    }
    .items_film-des_title {
      text-transform: capitalize;
      cursor: pointer;
      margin: 10px 0 5px;
      font-size: 13px;
      line-height: 20px;
      display: -webkit-box;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-flex: 1;
      -webkit-box-orient: vertical;
    }
    .items_film-des_origin {
      font-size: 11.5px;
      text-transform: capitalize;
      margin: 0;
      padding-right: 5px;

      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .items_film-des_view {
      font-size: 11px;
      margin-top: 5px;
    }
  }
}
