.rank_container {
  overflow-y: auto;
  max-height: 600px;

  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #003366;
    border-radius: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #101b25;
  }
}
.rank_item--user {
  box-shadow: 20px 20px 60px #1a1616, -20px -20px 60px #0e0a0a;
}
