@import "/src/styles/style.scss";

header {
  width: 100%;
  top: -90px;
  z-index: 100;
  .popper-container {
    background-color: $main;
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    padding: 6px 15px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s all;

    &:hover {
      background-color: #014070;
      background-image: none;
    }
    .total-bookmark {
      width: 20px;
      height: 20px;
      background-color: rgb(167, 7, 7);
      border-radius: 99px;
      text-align: center;
    }
  }

  .MuiBadge-badge {
    background-color: rgb(190, 1, 1);
    color: white;
  }
}
@media screen and (max-width: 641px) {
  header {
    top: -145px;
  }
}
