.search-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .search-box {
    width: 100%;
    padding: 0 12px;
    input {
      width: 100%;
      padding: 12px 4px;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 16px;
    }
  }
}
.search_content {
  .search_result {
    background-color: #111;
    z-index: 4;
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    .search_result-list {
      li {
        &:hover {
          h6 {
            color: #ff971b;
          }
        }
      }
      max-height: 400px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 5px;
      }
      &::-webkit-scrollbar-thumb {
        background-color: #003366;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-track {
        background-color: #101b25;
      }
    }
  }
}
