@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;

    -webkit-font-smoothing: antialiased;
    background: #222d38 url("/images/halimBg.png") fixed center;
    -webkit-transition: background-color 150ms ease-out !important;
    transition: background-color 150ms ease-out !important;
  }
  .App {
    font-family: "montserrat", sans-serif;
    text-rendering: optimizeLegibility;
    color: #a5a5a5;
    font-size: 13px;
  }
  .btn_grag {
    font-size: 12px;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    padding: 8px;
    font-weight: 700;
    cursor: pointer;
  }
  .btn_grag:hover {
    background-image: linear-gradient(
      to right,
      #f2112f 0%,
      #f01476 51%,
      #f2112f 100%
    );
  }
}
@layer components {
  .btn_bookmark-close {
    @apply py-1 px-2.5 hover:bg-red-800 bg-red-700 rounded-full text-sm;
  }
  .flex-bettween-center-wrap {
    @apply flex justify-between items-center flex-wrap;
  }
}
